@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Raleway:wght@700&display=swap');

body {
  background-image: linear-gradient(135deg, #DCD6CC21, white);
  font-family: 'Raleway', Sans-Serif;
  font-size: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
}

p {font-family: 'Raleway';}

h1 {
  font-size: 42px;
  font-family: 'Raleway';
  font-weight: bold;
}

h3 {
  font-size: 26px;
  font-family: 'Raleway';
  font-weight: normal;
}

.bgimg {
    background-image: url('Images/Logos_Icons/pstat_logo_50p_transp.svg');
    background-repeat: no-repeat;
}